<h1>Transaction <%= transaction.hash %></h1>

<ul>
  <li>Transaction Hash: <%= transaction.hash %></li>
  <li>Block Number: <%= transaction.block_number %></li>
  <li>From: <%= transaction.from %></li>
  <li>To: <%= transaction.to %></li>
  <li>Amount: <%= transaction.amount %></li>
</ul>
